.contacts {
  display: flex;
  flex-wrap: wrap;
  background-color: @white;
  color: @black;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  transition: color 0.5s;
  width: 136px;

  @media (min-width: @tablet-width) {
    width: 160px;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    width: 271px;
  }

  &:hover {
    color: @blue;
  }

  &:active {
    color: #b3b3b3;
  }
}
