.feedback {
  background-color: @white;
  color: @black;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0 120px;
  }
}

.feedback__header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  padding: 36px 0 28px;
  max-width: 280px;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      width: 320px;
      height: 1px;
      bottom: 0;
      left: -20px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 435px;
    padding: 64px 0 108px;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 0 68px;
    gap: 31px;
  }
}

.feedback__header-title {
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback__about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    grid-template-columns: repeat(2, 50%);
  }
}
