.search-hotels {
  text-align: center;
  background-color: @white;
  color: @brown;
}

.search-hotels__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search-hotels__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  gap: 23px;
  padding: 38px 0 49px;
  max-width: 284px;

  @media (min-width: @tablet-width) {
    width: 768px;
    gap: 32px;
    padding: 60px 0 55px;
    max-width: 458px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 60px 0 66px;
  }
}

.search-hotels__description {
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}

.search-hotels__button {
  margin: 0 auto;
  width: 284px;
  padding: 16px 49px;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-top: 14px;
    padding: 15px 121px 17px;
  }
}

.search-hotels iframe {
  display: block;
  border: none;
  width: 320px;
  height: 350px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search-hotels__link {
  position: relative;
  margin: 0 auto;
  background-color: @gray;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 30%;
  }
}

.search-hotels__picture {
  height: 350px;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}

.search-hotels__icon {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
